Repository Wystov/ecommerce-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, prettier --write

.lintstagedrc.json:

{
  "*.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}": "eslint --fix --ignore-path .gitignore",
  "src/*": "prettier --write"
}

docs: add basic readme description of the project
  README.md
Due: none

docs: add wystov edits and run the project section to readme.md
  README.md
Due: none

docs: correct readme.md with team edits after review
  README.md
Due: none

feat: add vitest
  package-lock.json
  package.json
Due: none

feat: add happy-dom, test-coverage script and vitest config
  package-lock.json
  package.json
  src/vitest.config.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

docs: add avaliable scripts description in readme.md
  README.md
Due: none

fix: typo in contributors block of readme.md
  README.md
Due: none

feat: add storybook to the project
  .eslintrc.cjs
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/stories/Introduction.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
Due: eslint --fix --ignore-path .gitignore

feat: folder structure
  src/assets/icons/.gitkeep
  src/assets/images/.gitkeep
  src/assets/styles/normalize.css
  src/components/shared/.gitkeep
  src/main.ts
  src/types/.gitkeep
  src/utils/api/.gitkeep
  tsconfig.app.json
  vitest.config.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write

docs: add scripts for storybook to readme.md
  README.md
  package.json
Due: none

feat: configured build for development
  README.md
  package.json
  vite.config.ts
Due: eslint --fix --ignore-path .gitignore

feat: add svg icons library: heroicons
  package-lock.json
  package.json
Due: none

feat: create button component
  src/components/shared/button/BaseButton.vue
Due: eslint --fix --ignore-path .gitignore

feat: create files for types components
  src/types/components/types.ts
Due: eslint --fix --ignore-path .gitignore

feat: create stories BaseButton
  src/stories/BaseButton.stories.ts
Due: eslint --fix --ignore-path .gitignore

feat: add BaseInput component file and it's story
  src/components/shared/BaseInput.vue
  src/stories/BaseInput.stories.ts
Due: eslint --fix --ignore-path .gitignore

feat: api anonymous auth, register and sign in
  .eslintrc.cjs
  package-lock.json
  package.json
  src/App.vue
  src/utils/api/build-client.ts
  src/utils/api/client.ts
  vite.config.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write

feat: extract refresh token from sdk and save it in ls
  src/utils/api/build-client.ts
Due: eslint --fix --ignore-path .gitignore

fix: build polyfill errors
  .eslintrc.cjs
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix --ignore-path .gitignore

fix: move happy-dom to devDependencies
  package-lock.json
  package.json
Due: none

refactor: move BaseButton and types outside folder
  src/components/shared/BaseButton.vue
  src/types/types.ts
Due: eslint --fix --ignore-path .gitignore

fix: delete light mode
  src/stories/BaseButton.stories.ts
Due: eslint --fix --ignore-path .gitignore

feat: add test for BaseButton
  src/components/tests/BaseButton.test.ts
Due: eslint --fix --ignore-path .gitignore

feat: redirect user to main page after successfull login or registration
  src/App.vue
  src/utils/api/client.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write

feat: create MessageField component
  src/components/shared/MessageField.vue
  src/types/types.ts
Due: eslint --fix --ignore-path .gitignore

feat: add test for MessageField
  src/components/tests/MessageField.test.ts
Due: eslint --fix --ignore-path .gitignore

feat: add base input component and style.css file for base styles
  src/assets/styles/style.css
  src/components/shared/BaseInput.vue
  src/stories/BaseInput.stories.ts
Due: eslint --fix --ignore-path .gitignore

feat: change style for message field
  src/components/shared/MessageField.vue
Due: eslint --fix --ignore-path .gitignore

feat: add stories for MessageField
  src/stories/MessageField.stories.ts
Due: eslint --fix --ignore-path .gitignore

fix: change v-show to v-if
  src/components/shared/MessageField.vue
Due: eslint --fix --ignore-path .gitignore

refactor: rename MessageField to BaseMessage
  src/components/shared/BaseMessage.vue
  src/components/tests/MessageField.test.ts
  src/stories/BaseButton.stories.ts
  src/stories/BaseMessage.stories.ts
  src/types/types.ts
Due: eslint --fix --ignore-path .gitignore

refactor: rename test for Message component
  src/components/tests/BaseMessage.test.ts
Due: eslint --fix --ignore-path .gitignore

feat: auth with refresh token flow
  src/App.vue
  src/utils/api/build-client.ts
  src/utils/api/client.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write

feat: add validation border for input component; fix: input component after teammates review, dark theme font color in style.css; chore: delete example files in storybook
  src/assets/styles/style.css
  src/components/shared/BaseInput.vue
  src/stories/BaseInput.stories.ts
  src/stories/Introduction.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
Due: eslint --fix --ignore-path .gitignore

refactor: delete redundant and commented lines
  src/App.vue
Due: eslint --fix --ignore-path .gitignore, prettier --write

fix: types of env vars and token response
  src/types/.gitkeep
  src/types/env.d.ts
  src/types/types.ts
  src/utils/api/build-client.ts
Due: eslint --fix --ignore-path .gitignore

feat: tests for base input component; fix: path to styles file in base input component; chore: delete gitkeep files
  src/components/.gitkeep
  src/components/shared/.gitkeep
  src/components/shared/BaseInput.vue
  src/components/tests/BaseInput.test.ts
Due: eslint --fix --ignore-path .gitignore

fix: fix test for has disabled button
  src/components/tests/BaseButton.test.ts
Due: eslint --fix --ignore-path .gitignore

fix: husky run prettier and test
  .lintstagedrc.json
  src/assets/styles/normalize.css
  src/stories/Introduction.mdx
  src/views/MainView.vue
Due: eslint --fix --ignore-path .gitignore

feat: add vitest ui
  README.md
  package-lock.json
  package.json
Due: none
